@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(27, 25, 25);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  padding: 8px;
}
.cabecalho {
  margin: 0 auto;
}

.logo {
  width: 80px;
  height: auto;
}

.titulo {
  font-size: 15pt;
  color: #77601b;
}

.principal {
  width: 95%;
  margin: 0 auto;
}

.dadosCliente {
  display: flex;
  justify-items: center;
  width: 90%;
  padding: 10px;
}

.novoMovel {
  display: flex;
  flex-direction: column;
}

.cliente,
.contato,
.bairro {
  width: 50%;
  height: auto;
}

input {
  background-color: transparent;
  color: #ffffff;
  border: none;
  width: 100px;
  border-bottom: 1px solid #77601b;
}
input:hover,
textarea:hover {
  background-color: #222222;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 1px solid #77601b;
}

.adicionarAmbiente {
  display: flex;
  flex-direction: column;
}

label {
  color: #77601b;
}

textarea {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #77601b;
  width: 40%;
  height: 150px;
}

.btnAdicionar {
  width: 150px;
  background-color: transparent;
  border: 1px solid #77601b;
  color: #77601b;
  margin: 5px;
  border-radius: 3px;
}

.btnAdicionar:hover {
  background-color: #77601b;
  color: #ffffff;
}

.linhaDiv {
  width: 100%;
}

.copyright {
  font-size: 6pt;
}

.copyright,
.btnAdicionar {
  display: flex;
  justify-content: center;
  color: #77601b;
}

.infosContent {
  margin: 0 auto;
  display: flex;
  width: 90%;
  height: auto;
  padding: 8px;
}

.infos1 {
  width: 30%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.infos2 {
  width: 30%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.infos3 {
  width: 30%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.orcamentoFinal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
}

.labTotal {
  font-size: 25px;
}

.inpTotal {
  font-size: 25px;
  width: 160px;
}
